.footer__title {
  color: var(--text-color-1, #db00ff);
  text-shadow: 2px 2px 0px var(--shadow-color-2, #ff0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

@media (width >= 768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .footer__title {
    text-shadow: 4px 4px 0 var(--pink-1, #ff0070);
  }
}